
<ion-header>

  <ion-navbar color='azulUG'>
    <ion-title>Datos del Concepto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-card>

      <ion-item>
        <h2 text-center text-warp>{{concepto.nombre_cuenta}}</h2>
        <h3 text-center text-warp>{{concepto.sub_cuenta}}</h3>
      </ion-item>

      <ion-item>
        <ion-icon name="home" item-start large></ion-icon>
        <h2>Campus</h2>
        <p text-wrap>{{concepto.Campus}}</p>
      </ion-item>
      
      <ion-item>
        <ion-icon name="briefcase" item-start large></ion-icon>
        <h2>División/Secretaría</h2>
        <p text-wrap>{{concepto.Division}}</p>
      </ion-item>

      <ion-item>
        <ion-icon name="ios-book" item-start large></ion-icon>
        <h2>Programa</h2>
        <p text-wrap>{{concepto.Programa}}</p>
      </ion-item>

      <ion-item>
        <ion-icon name="pricetags" item-start large></ion-icon>
        <h2>Concepto</h2>
        <p text-wrap>{{concepto.nombre_cuenta + ' - ' + concepto.ELEMENTO_PEP_DSC}}</p>
      </ion-item>
      
      <ion-item *ngIf="concepto.Observaciones != ''">
        <ion-icon name="attach" item-left large ></ion-icon>
        <h2>Notas</h2>
        <p text-wrap>{{concepto.Observaciones}}</p>
      </ion-item>
    
      <ion-item>
        <ion-icon name="logo-usd" item-left large ></ion-icon>
        <h2>Monto</h2>
        <p text-wrap *ngIf="concepto.Monto.toLowerCase() !== 'a capturar'">{{concepto.Monto}}</p>
        <ion-label floating *ngIf="concepto.Monto.toLowerCase() === 'a capturar'">Ingresar Monto</ion-label>
        <ion-input [(ngModel)]="inputConcepto" type="text" *ngIf="concepto.Monto.toLowerCase() === 'a capturar'"></ion-input>
      </ion-item>
      <br />
      <br />
    </ion-card>

    <button ion-button icon-left full color="secondary" (click)="GenerarPagoClicked()">
      <ion-icon name="checkmark-circle"></ion-icon>
      Generar Formato de Pago
    </button>
</ion-content>
